* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.test {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  padding: 20px;
  opacity: 0.1;
  transition: 0.3s;
  height: 20px;
  overflow: hidden;

  div {
    display: flex;
    gap: 10px;
    width: 100%;
    transition: 0.3s;
  }
  span {
    color: white;
    opacity: 0;
  }
  input {
    flex-shrink: 0;
    width: 100%;
    transition: 0.2s;
  }

  &:hover {
    opacity: 1;
    gap: 10px;
    height: auto;
    span {
      opacity: 1;
    }
    input {
      width: 500px;
    }
  }
}
