.slidersWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0.1;
  transition: 0.3s;
  height: 20px;
  overflow: hidden;

  .sliderContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    transition: 0.3s;
  }

  span {
    color: white;
    opacity: 0;
    white-space: nowrap;
  }

  input {
    flex-shrink: 0;
    width: 100%;
    transition: 0.2s;
  }

  .sliderValue {
    color: rgb(48, 138, 255);
    width: 30px;
  }

  &:hover {
    opacity: 1;
    gap: 10px;
    height: auto;
    span {
      opacity: 1;
    }
    input {
      width: 500px;
    }
  }
  .copySettings {
    width: fit-content;
    padding: 4px 8px;
  }
}
